*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, #root {
  margin: 0;
  padding: 0;
  background: #0a0a0f;
  border: none;
  outline: none;
  max-width: 100%;
  text-align: left;
}